#subscribeBar {
	display: inline-block;
	resize: none;
	height: 28px;
	width: 200px;
	border-radius: 10px;
	background: #474747;
	border: 5px solid transparent;
}

#subscribeCarrier {
	vertical-align: top;
	width: 200px;
}

#subscribeButton {
	vertical-align: top;
	display: inline-block;
	width: 300px;
	height: 40px;
}