/** HEADER BAR **/
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background: #474747;
	min-height: 100%;
}

ul {
	padding-left: 7vw;
	list-style-type: none;
	margin: 0;
	overflow: hidden;
}

#navbar {
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #b41f35;
	height: 72px !important;
}

#title {
	vertical-align: center;
	height: 32px !important;
	width: 165px !important;
	font-size: 28px;
	display: block;
	font-weight: bold;
	margin-top: 17px;
}

li {
	padding-left: 1em;
	float: left;
	color: white;
}

li a {
	height: 100%;
	color: white;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#links a {
	display: inline-block;
	margin-top: 11px;
	height: 100%;
}

#links {
	height: 100%;
}

#icon {
	padding-top: 13px;
}

li a:hover {
	background-color: #7a0e1e;
}

/** END HEADER BAR **/
/** BUTTON **/
button {
	color: #fff;
	background-color: #b41f35;
	border: none;
	border-radius: 5px;
	box-shadow: 0 2px 5px #630000;
	display: inline-block;
	padding: 4px 8px 4px 8px;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

/* Add this to align vertically */
button > img,
button > span {
	vertical-align: middle;
}

button:active {
	transform: translateY(2px);
}

.red {
	box-shadow: 0 2px 5px #630000;
	background-color: #ba0000;
}

.gray {
	box-shadow: 0 2px 5px #474747;
	background-color: #575757;
}

/** END BUTTON **/
/** GENERAL STYLING **/
li, h2, p, textarea {
	color: white;
}

textarea {
	border-radius: 10px;
	background: #474747;
	border: 5px solid transparent;
}

select {
	border-radius: 10px;
	background: #474747;
	height: 40px;
	width: 30em;
	border: 5px solid transparent;
}

.mainContent {
	margin: 80px auto;
	width: 50em;
	min-height: 100%;
	padding: 1em 1em 50px;
	background: #262626;
}

#mainContentHeader {
	margin-top: 0;
}

/** END GENERAL STYLING **/