td {
	word-wrap: break-word;
}

.wide {
	max-width: 200px;
}

.narrow {
	max-width: 75px;
}

#newMovieDiv {
	border-radius: 5px;
	background-color: #232323;
	padding: 20px;
	width: 400px;
	z-index: 100;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 50%;
	box-shadow: 0 5px 5px #111111;
}

input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.blur {
	filter: blur(5px);
	user-select: none;
	pointer-events: none;
}

.prettyTable {
	color: white;
	width: 800px;
}

.prettyTable {
	border-collapse: collapse;
	box-shadow: 0 2px 2px #111111;
}

.prettyTable th, td {
	text-align: left;
	padding: 8px;
}

.prettyTable tr:nth-child(even) {
	background-color: #5e5e5e
}

.prettyTable tr:nth-child(odd) {
	background-color: #303030
}

.prettyTable th {
	background-color: #b41f35;
	color: white;
}

.hide {
	display: none;
}

#usernameField {
	display: inline-block;
	resize: none;
	height: 20px;
	width: 200px;
	margin-bottom: 3px;
}

#searchButton {
	vertical-align: top;
	margin-top: 3px;
	display: inline-block;
	width: 100px;
}

#newUserButton {
	vertical-align: top;
	margin-top: 3px;
	display: inline-block;
	margin-bottom: 8px;
	width: 125px;
}

/** CHECKBOX CSS **/
/* The container */
.container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 25px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
	background-color: #b41f35;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
