#map 
{
    height: 300px;
    width: 100%;
    position: absolute;
    right: 0%;
    top:15%;
    border:10px;
    border-style:solid;
    background-color:#303030;
    
}

.select
{
    top: 3%;
    left: 0%;    
    background-color: #303030;
    border:0px;
    outline:0px;

}

.options
{
    color: white;
    font-weight: bold;
}



body
{
    background-color: #303030;

}

img
{
    border-radius: 8px;
    width:20%;
    right:5%;
}
.bg-red
{
    background-color: #b41f35;
    border-color:white;
    border-style:solid;
}

.title
{
    text-align:center;
    font-weight: bold;
    font-size: 150%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#logo
{
    width:50%;
}

.box
{
    background-color: #303030;
    position: relative;
    height:1000px;
}

h2
{
    color: white;
    margin: auto;
}

p
{
    top:6%;
    left:0%;
    color: white;
}

.p2
{
    top:0%;
    left:0%;
    color: white;
}
.comment
{
    position: absolute;
    top:50%;
    right:25%;
    width:50%;
    height:15%;
    background-color: #303030;
    color: white;
    border-bottom-style: solid;
    border-color: white;
    border-right-style: none;
    border-left-style: none;
    border-top-style: none;
}

.sub
{
    position: absolute;
    top:75%;
    right:45%;
}